@using KursovayaKP.Models;
@model List<QuestionModel>

@{
    ViewData["Title"] = $"Все вопросы по теме \"{ViewBag.Topic}\"";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AllQuestions.css" asp-append-version="true" />
    <script src="~/js/AllQuestions.js" asp-append-version="true"></script>
}

<button id="settingsButton" style="color: black; border: none; background-color: white;">Расширенные настройки</button>

<div id="toolsMenu" style="display: none;">
    <ul>
        <li>Инструмент 1</li>
        <li>Инструмент 2</li>
        <li>Инструмент 3</li>
    </ul>
</div>

<h1 id="title">Вопросы по теме @ViewBag.Topic</h1>

<div id="question-container">
    @foreach (var question in Model)
    {
        <div class="question" data-question-id="@question.Id">
            <form class="question-form" method="post">
                <div><label>Вопрос №@question.Id</label></div>
                <input type="hidden" name="questionId" value="@question.Id" />
                <div><label>@question.QuestionText</label></div>
                @if (!string.IsNullOrEmpty(question.LinkPhoto))
                {
                    <img src="@question.LinkPhoto" style="max-width: 1000px" />
                }
                <div>
                    <label for="answer1">Ответы:</label><br>
                    <label for="answer1">@question.Answer1</label><br>
                    <label for="answer2">@question.Answer2</label><br>
                    <label for="answer3">@question.Answer3</label><br>
                    <label for="answer4">@question.Answer4</label><br>
                    <label for="answer4">Правильный ответ @question.CorrectAnswer</label><br>
                    <button asp-controller="Admin" asp-action="DeleteQuestion" class="image-button" style="background-image: url('https://media.discordapp.net/attachments/1160898526201516052/1211257334207352832/Delete.png?ex=65ed8a4c&is=65db154c&hm=186472e1ce3de1b79ca162ca0a9a23edd211996786bd18ff98db2c507d78a05e&=&format=webp&quality=lossless')" title="Удалить"></button>
                    <button asp-controller="Admin" asp-action="QuestionForUpdate" class="image-button" style="background-image: url('https://media.discordapp.net/attachments/1160898526201516052/1211262049162625065/Editing.png?ex=65ed8eb0&is=65db19b0&hm=29c82b4a13617b4cfa672d881f2992c8359b0fecabca9c2f4c4f2b4be41df6a3&=&format=webp&quality=lossless')" title="Редактировать"></button>
                </div>
            </form>
        </div>
    }
</div>