@using KursovayaKP.Models;
@model List<UserModel>

@{
    ViewData["Title"] = $"Все пользователи";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AllUsers.css" asp-append-version="true" />
    <script src="~/js/AllUsers.js" asp-append-version="true"></script>
}

<button id="settingsButton" style="color: black; border: none; background-color: white;">Расширенные настройки</button>

<div id="detailedInformation" style="display: none; width: 500px">
    <ul>
        <li>Средний балл ПДД - </li>
        <li>Средний балл "Дорожные знаки" - </li>
        <li>Средний балл "Медецинская помощь" - </li>
        <li>Средний балл "Устройство авто" - </li>
    </ul>
</div>

<h1 id="title">Все пользователи</h1>

<div id="question-container">
    @foreach (var user in Model)
    {
        <div class="question" data-question-id="@user.IdUser">
            <form class="question-form" method="post">
                <div><label>ID: №@user.IdUser</label></div>
                <input type="hidden" name="id" value="@user.IdUser" />

                <div class="label-user-name"><label>Имя: @user.UserName</label></div>
                <div class="input-group" style="width:min-content;">
                    <input class="input-user-name" name="newUserName" style="display: none;" value="@user.UserName" />
                </div>

                <label>Email: @user.Email</label><br>
                <div><label>Роль: @user.Role</label></div>
                <button class="image-button edit-button" style="background-image: url('/Images/Editing.png')" title="Редактировать"></button>
                <button asp-controller="Admin" asp-action="EditUserNameAdmin" class="image-button confirm-edit-name-button" style="background-image: url('/Images/Checked.png'); display: none;" title="Изменить имя"></button>
                <button class="image-button cancel-edit-name-button" style="background-image: url('/Images/Close.png'); display: none;" title="Отмена"></button>
                <span asp-validation-for="@user.UserName" style="color: red; font-size: 12px;"></span>

                <button onclick="initializePage('@user.IdUser')" class="image-button more-detailed-button" style="background-image: url('/Images/More-information.png')" title="Подробнее"></button>
            </form>
        </div>
    }
</div>

<script>
    const editButtons = document.getElementsByClassName('edit-button');
    const confirmEditNameButtons = document.getElementsByClassName('confirm-edit-name-button');
    const cancelEditNameButtons = document.getElementsByClassName('cancel-edit-name-button');
    const labelUserNames = document.getElementsByClassName('label-user-name');
    const inputUserNames = document.getElementsByClassName('input-user-name');
    const moreDetailedButtons = document.getElementsByClassName('more-detailed-button');

    for (let i = 0; i < editButtons.length; i++) {
        const editButton = editButtons[i];
        const confirmEditNameButton = confirmEditNameButtons[i];
        const cancelEditNameButton = cancelEditNameButtons[i];
        const labelUserName = labelUserNames[i];
        const inputUserName = inputUserNames[i];
        const moreDetailedButton = moreDetailedButtons[i];

        editButton.addEventListener('click', function (event) {
            event.preventDefault();
            editButton.style.display = 'none';
            confirmEditNameButton.style.display = 'inline-block';
            cancelEditNameButton.style.display = 'inline-block';
            labelUserName.style.display = 'none';
            inputUserName.style.display = 'inline-block';
            moreDetailedButton.style.display = 'none';
        });

        cancelEditNameButton.addEventListener('click', function (event) {
            event.preventDefault();
            editButton.style.display = 'inline-block';
            confirmEditNameButton.style.display = 'none';
            cancelEditNameButton.style.display = 'none';
            labelUserName.style.display = 'block';
            inputUserName.style.display = 'none';
            moreDetailedButton.style.display = 'inline-block';
        });
    }
</script>