@using KursovayaKP.Models;
@model List<UserModel>

@{
    ViewData["Title"] = $"Все пользователи";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AllUsers.css" asp-append-version="true" />
    <script src="~/js/AllUsers.js" asp-append-version="true"></script>
}

<button id="settingsButton" style="color: black; border: none; background-color: white;">Расширенные настройки</button>

<div id="detailedInformation" style="display: none; width: 500px">
    <ul>
        <li>Средний балл ПДД - </li>
        <li>Средний балл "Дорожные знаки" - </li>
        <li>Средний балл "Медецинская помощь" - </li>
        <li>Средний балл "Устройство авто" - </li>
    </ul>
</div>

<h1 id="title">Все пользователи</h1>

<div id="question-container">
    @foreach (var user in Model)
    {
        <div class="question" data-question-id="@user.IdUser">
            <form class="question-form" method="post">
                <div><label>ID: №@user.IdUser</label></div>
                <input type="hidden" name="questionId" value="@user.IdUser" />
                <div><label>@user.UserName</label></div>
                <label for="answer1">@user.Email</label><br>
                <button asp-controller="Admin" asp-action="" class="image-button" style="background-image: url('https://media.discordapp.net/attachments/1160898526201516052/1211257334207352832/Delete.png?ex=660939cc&is=65f6c4cc&hm=3085eb490c9ea15ef0094732698f3a19b183a44f81088755cf24e022dfcc2489&=&format=webp&quality=lossless')" title="Удалить"></button>
                <button asp-controller="Admin" asp-action="" class="image-button" style="background-image: url('https://media.discordapp.net/attachments/1160898526201516052/1211262049162625065/Editing.png?ex=66093e30&is=65f6c930&hm=49574bb9a091fa7328d40727f53de51d3b60317a50395d64324df4afeecc32cc&=&format=webp&quality=lossless')" title="Редактировать"></button>
                <button onclick="initializePage('@user.IdUser')" class="image-button" style="background-image: url('https://media.discordapp.net/attachments/1160898526201516052/1213836616607731782/more-information.png?ex=66096171&is=65f6ec71&hm=5edbbc7caf4c7efa5de1f80332daf123e02ac09eed8fe86c672c7fb22c79fef0&=&format=webp&quality=lossless')" title="Подробнее"></button>
            </form>
        </div>
    }
</div>