@model (QuestionModel question, TestModel[] allTests)
@{
    ViewData["Title"] = $"Добавление вопроса к разделу {"Устройство авто"}";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Add.css" asp-append-version="true" />
@*     <script src="~/js/AddQuestions.js" asp-append-version="true"></script> *@
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="fullscreen-container">
        <div class="addquestion-container">
            <h1 class="header">Редактирвоание вопроса</h1>
            <form class="form" asp-controller="Admin" asp-action="QuestionUpdate" method="post">
                <input asp-for="question.IdQuestion" type="hidden" name="IdQuestion" value="@Model.question.IdQuestion" />

                <select asp-for="question.IdTest" id="test" name="idTest" required>
                    @foreach (var test in Model.allTests)
                    {
                        <option value="@test.IdTest">@test.NameTest</option>
                    }
                </select>

                <div class="input-group">
                    <label for="questionText">Вопрос</label>
                    <input type="text" id="questionText" name="questionText" placeholder="Введите вопрос" required asp-for="question.QuestionText" value="@Model.question.QuestionText">
                    <span asp-validation-for="question.QuestionText" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="LinkPhoto">Ссылка на фото(при необходимости)</label>
                    <input type="text" id="linkPhoto" name="linkPhoto" placeholder="Укажите ссылку на фото(при необходимости)" asp-for="question.LinkPhoto" value="@Model.question.LinkPhoto">
                    <span asp-validation-for="question.LinkPhoto" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Answer1">Ответ 1</label>
                    <input type="text" id="answer1" name="answer1" placeholder="Введите первй ответ" required asp-for="question.Answer1" value="@Model.question.Answer1">
                    <span asp-validation-for="question.Answer1" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Answer2">Ответ 2</label>
                    <input type="text" id="answer2" name="answer2" placeholder="Введите второй ответ" required asp-for="question.Answer2" value="@Model.question.Answer2">
                    <span asp-validation-for="question.Answer2" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Answer3">Ответ 3</label>
                    <input type="text" id="answer3" name="answer3" placeholder="Введите третий ответ" required asp-for="question.Answer3" value="@Model.question.Answer3">
                    <span asp-validation-for="question.Answer3" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="Answer4">Ответ 4</label>
                    <input type="text" id="answer4" name="answer4" placeholder="Введите четвертый ответ" required asp-for="question.Answer4" value="@Model.question.Answer4">
                    <span asp-validation-for="question.Answer4" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <div class="input-group">
                    <label for="CorrectAnswer">Правильный ответ</label>
                    <input type="text" id="correctAnswer" name="correctAnswer" placeholder="Введите правильеый ответ" required asp-for="question.CorrectAnswer" value="@Model.question.CorrectAnswer">
                    <span asp-validation-for="question.CorrectAnswer" style="color: red; font-size: 12px; display: block; height: 12px;"></span>
                </div>

                <button class="button">Сохранить изменения</button>
                <div class="text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AllQuestions">Назад</a>
                </div>
            </form>
        </div>
    </div>
</body>