﻿@using KursovayaKP.Models;
@model QuestionModel[]

@{
	ViewData["Title"] = $"Все вопросы по тесту {ViewBag.Topic}";
}

@section Styles {
	<link rel="stylesheet" href="~/css/Questions.css" asp-append-version="true" />
	<script src="~/js/Questions.js" asp-append-version="true"></script>
}

<button id="settingsButton" style="color: black; border: none; background-color: white;">Расширенные настройки</button>

<div id="toolsMenu" style="display: none; width: 500px">
	<input id="searchInput" placeholder="Поиск" style="width:100%;" />
	<div>
@* 		<button id="sortByNameButton" class="image-button" style="margin-top: 3px; background-image: url('/Images/From-a-to-z.png')" title="Сортировка в алфавитном порядке"></button> *@
		<button id="sortByNumberButton" class="image-button" style="margin-top: 3px; background-image: url('/Images/Trafic.png')" title="Сортировка по номеру вопроса"></button>
		<button id="cancellation" class="image-button" style="margin-top: 3px; background-image: url('/Images/Cancel.png')" title="Отмена сортировки"></button>
	</div>
</div>

<h1 id="title">Вопросы теста @ViewBag.Topic</h1>

<div id="question-container">
	@if (Model != null)
	{
		@foreach (var question in Model)
		{
			<div class="question" data-question-id="@question.IdQuestion">
				<form class="question-form" method="post">
					<div><label>Вопрос №@question.IdQuestion</label></div>
					<input type="hidden" name="questionId" value="@question.IdQuestion" />
					<input type="hidden" name="testId" value="@question.IdTest" />
					<div><label>@question.QuestionText</label></div>
					@if (!string.IsNullOrEmpty(question.LinkPhoto))
					{
						<img src="@question.LinkPhoto" style="max-width: 1000px" />
					}
					<div>
						<label for="answer1">Ответы:</label><br>
						<label for="answer1">@question.Answer1</label><br>
						<label for="answer2">@question.Answer2</label><br>
						<label for="answer3">@question.Answer3</label><br>
						<label for="answer4">@question.Answer4</label><br>
						<label for="answer4">Правильный ответ @question.CorrectAnswer</label><br>
						<button class="image-button delete-button" style="background-image: url('/Images/Delete.png')" title="Удалить"></button>
						<button asp-controller="Admin" asp-action="DeleteQuestion" class="image-button confirm-delete-button" style="background-image: url('/Images/Checked.png'); display: none;" title="Подтвердить удаление" data-id="@question.IdQuestion"></button>
						<button class="image-button cancel-delete-button" style="background-image: url('/Images/Close.png'); display: none;" title="Отменить удаление"></button>
						<button asp-controller="Admin" asp-action="QuestionForUpdate" class="image-button edit-button" style="background-image: url('/Images/Editing.png')" title="Редактировать"></button>
					</div>
				</form>
			</div>
		}
	}
</div>

<script>
	const deleteButtons = document.getElementsByClassName('delete-button');
	const confirmDeleteButtons = document.getElementsByClassName('confirm-delete-button');
	const cancelDeleteButtons = document.getElementsByClassName('cancel-delete-button');
	const editButtons = document.getElementsByClassName('edit-button');

	for (let i = 0; i < deleteButtons.length; i++) {
		const deleteButton = deleteButtons[i];
		const confirmDeleteButton = confirmDeleteButtons[i];
		const cancelDeleteButton = cancelDeleteButtons[i];
		const editButton = editButtons[i];

		deleteButton.addEventListener('click', function (event) {
			event.preventDefault();
			deleteButton.style.display = 'none';
			confirmDeleteButton.style.display = 'inline-block';
			cancelDeleteButton.style.display = 'inline-block';
			editButton.style.display = 'none'; // Скрываем кнопку "Редактировать"
		});

		cancelDeleteButton.addEventListener('click', function (event) {
			event.preventDefault();
			deleteButton.style.display = 'inline-block';
			confirmDeleteButton.style.display = 'none';
			cancelDeleteButton.style.display = 'none';
			editButton.style.display = 'inline-block'; // Отображаем кнопку "Редактировать"
		});
	}
</script>