@using KursovayaKP.Models;
@model List<QuestionModel>

@* @{
    ViewData["Title"] = $"Тест по теме \"{"ПДД"}\"";
} *@

@section Styles {
    <link rel="stylesheet" href="~/css/Tests.css" asp-append-version="true" />
    <script src="~/js/Tests.js" asp-append-version="true"></script>
}

@* <h1 id="title">Test Traffic Regulations</h1> *@

<div id="question-container">
<input type="hidden" id="testId" name="test.IdTest" value="@Model[0].IdTest" />
    @if (Model != null)
    {
        @foreach (var question in Model)
        {
            <div class="question" data-question-id="@question.IdQuestion" data-correct-answer="@question.CorrectAnswer">
                <form>
                    <h3>Вопрос №@question.IdQuestion</h3>
                    <h3>@question.QuestionText</h3>
                    @if (!string.IsNullOrEmpty(question.LinkPhoto))
                    {
                        <img src="@question.LinkPhoto" style="max-width: 1000px" />
                    }
                    <div>
                        <input type="radio" id="answer1" name="answer" value="@question.Answer1">
                        <label for="answer1">@question.Answer1</label><br>
                        <input type="radio" id="answer2" name="answer" value="@question.Answer2">
                        <label for="answer2">@question.Answer2</label><br>
                        <input type="radio" id="answer3" name="answer" value="@question.Answer3">
                        <label for="answer3">@question.Answer3</label><br>
                        <input type="radio" id="answer4" name="answer" value="@question.Answer4">
                        <label for="answer4">@question.Answer4</label><br>
                    </div>
                </form>
            </div>
        }
    }
</div>

<button class="button" onclick="checkAnswers()">Отправить</button>
<button id="restartTestButton" class="button" onclick="restartTest()" style="display: none">Пройти тест еще раз</button>
